{% extends "base_head.html" %}
{% load static %}
{% block head %}

<link href="{% static 'css/style2.css' %}" rel="stylesheet">
{% endblock %}
{% block nav %}
   <!--Start Navigation-->
		<header id="header">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
								<span class="sr-only">Toggle navigation</span>
								<span class="fa fa-bars"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
                            <!--Start Logo -->
							<div class="logo-nav">
								<a href="../">
									<img src="{% static 'images/嘉然.png' %}" alt="My logo" width="100" height="100" />
								</a>
							</div>
                            <!--End Logo -->
							<div class="clear-toggle"></div>
							<div id="main-menu" class="collapse scroll navbar-right">
								<ul class="nav">

									<li> <a href="../#home">Home</a> </li>

									<li> <a href="../#about">About</a> </li>

                                    <li> <a href="../#history">History</a> </li>

{#                                    <li> <a href="#works">Our Work</a> </li>#}
{##}
{#                                     <li> <a href="#team">Team</a> </li>#}
{##}
								    <li> <a href="../home/content">Contents</a> </li>
                                     <li class="active"> <a href="../home/upload">upload</a> </li>
                                     <li> <a href="../home/random">random&watch</a> </li>


									<li> <a href="../#blog">Blog</a></li>

{#                                    <li> <a href="#testimonials">Testimonials</a></li>#}

									<li> <a href="../#contact">Contact</a> </li>

								</ul>
							</div><!-- end main-menu -->
						</div>
					</div>
				</div>
			</header>
    <!--End Navigation-->
{% endblock %}
{% block content %}
{% endblock %}