{% extends "base_head.html" %}
{% load static %}
{% block content %}
        <!-- Start Slider  -->
        <section id="home" class="home">
             <div class="slider-overlay"></div>
            <div class="flexslider">
                <ul class="slides scroll">
                    <li class="first">
                        <div class="slider-text-wrapper">
                            <div class="container">
                                <div class="big">One stop, but more than that</div>
                                <div class="small">See daily new contents on the same page.</div>
                                <a href="home/content" class="middle btn btn-white">SHOW ME</a>
                            </div>
                        </div>
                        <img src="{% static 'images/slider/1.jpg' %}" alt="wall paper 1">
                    </li>

                    <li class="secondary">
                        <div class="slider-text-wrapper">
                            <div class="container">
                                <div class="big">What to see random content? Why not:)</div>
                                <div class="small">Every art work deserves to be viewed</div>
                                <a href="home/random" class=" middle btn btn-white">RANDOM BEST</a>
                            </div>
                         </div>
                        <img src="{% static 'images/slider/2.jpg' %}" alt="wall paper 2">
                    </li>

                    <li class="third">
                        <div class="slider-text-wrapper">
                            <div class="container">
                                <div class="big">Wanna post your art creation here?</div>
                                <div class="small">Share your art with people around the world.</div>
                                <a href="home/upload" class="middle btn btn-white">VIEW PLATFORM</a>
                             </div>
                        </div>
                        <img src="{% static 'images/slider/3.jpg' %}" alt="wall paper 3">
                    </li>
                </ul>
            </div>
        </section>
          <!-- End Slider  -->


  <!--Start Features-->
  <section  id="about" class="section">
       <div class="container">
           <div class="row">

              <!-- Features Icon-->
              <div class="col-md-4">
                  <div class="features-icon-box">

                      <div class="features-icon">
                      <i class="fa fa-leaf"></i>
                      </div>

                      <div class="features-info">
                         <h4>Clean & Modern Design</h4>
                         <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
                      </div>
                  </div>
              </div>

               <!-- Features Icon-->
              <div class="col-md-4">
                  <div class="features-icon-box">

                      <div class="features-icon">
                      <i class="fa fa-paper-plane"></i>
                      </div>

                      <div class="features-info">
                         <h4>Illustration</h4>
                         <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
                      </div>
                  </div>
              </div>

               <!-- Features Icon-->
              <div class="col-md-4">
                  <div class="features-icon-box">

                      <div class="features-icon">
                     <i class="fa fa-life-saver"></i>
                      </div>

                      <div class="features-info">
                         <h4>App Development</h4>
                         <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
                      </div>
                  </div>
              </div>

               <!-- Features Icon-->
              <div class="col-md-4">
                  <div class="features-icon-box">

                      <div class="features-icon">
                      <i class="fa fa-paint-brush"></i>
                      </div>

                      <div class="features-info">
                         <h4>Web Development</h4>
                         <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
                      </div>
                  </div>
              </div>

              <!-- Features Icon-->
              <div class="col-md-4">
                  <div class="features-icon-box">

                      <div class="features-icon">
                     <i class="fa fa-line-chart"></i>
                      </div>

                      <div class="features-info">
                         <h4>Digital Design</h4>
                         <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
                      </div>
                  </div>
              </div>

              <!-- Features Icon-->
              <div class="col-md-4">
                  <div class="features-icon-box">

                      <div class="features-icon">
                      <i class="fa fa-gift"></i>
                      </div>

                      <div class="features-info">
                         <h4>Fully Responsive</h4>
                         <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
                      </div>
                  </div>
              </div>


           </div> <!-- /.row-->
       </div> <!-- /.container-->
  </section>
  <!--End Features-->


  <!-- Start Facts-->
  <section id="facts" class="section parallax">
    <div class="overlay"></div>
       <div class="container">
           <div class="row">

                <!-- Start Item-->
                <div class="col-md-3 col-sm-6 facts-box margin-bottom-30">
                    <span><i class="icon-browser"></i></span>
                    <h3>841</h3>
                    <span>Visitors</span>
                </div>
                <!-- End Item-->

                 <!-- Start Item-->
                <div class="col-md-3 col-sm-6 facts-box margin-bottom-30">
                 <span><i class="icon-pictures"></i></span>
                    <h3>800</h3>
                    <span>Pictures</span>
                </div>
                <!-- End Item-->

                 <!-- Start Item-->
                <div class="col-md-3 col-sm-6 facts-box margin-bottom-30">
                 <span><i class="icon-twitter"></i></span>
                    <h3>1232</h3>
                    <span>Twitter collected</span>
                </div>
                <!-- End Item-->

                 <!-- Start Item-->
                <div class="col-md-3 col-sm-6 facts-box margin-bottom-30">
                 <span><i class="icon-paintbrush"></i></span>
                    <h3>0</h3>
                    <span>Artists</span>
                </div>
                <!-- End Item-->

             </div> <!-- /.row -->
       </div> <!-- /.container -->
  </section>
  <!--End Facts-->



     <!--Start History-->
    <section id="history" class="section parallax">
		<div class="overlay" ></div>
            <div class="container">

                 <div class="title-box text-center white">
                    <h2 class="title">HISTORY OF Genshin Impact</h2>
                 </div>

                     <!-- History Timeline -->
                    <ul class="timeline list-unstyled">

                        <li class="year">2020</li>

                        <!--History Item -->
                        <li class="timeline-item">
                            <h4>OFFICIAL RELEASE.</h4>
                            <p>On iOS, Android, PlayStation and PC</p>
                            <span> 28 SEP 2020</span>
                        </li>
                        <!-- End Item -->

                         <!--History Item -->
                        <li class="timeline-item">
                            <h4>1.1 version release.</h4>
                            <p>First large scale update.</p>
                            <span> 11 NOV 2020</span>
                        </li>
                        <!-- End Item -->

                        <!-- History Year -->
                        <li class="year">2021</li>

                        <!--History Item -->
                        <li class="timeline-item">
                            <h4>Lorem ipsum dolor consectetur adipisicing.</h4>
                            <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
                            <span> 28 APR 2021</span>
                        </li>
                        <!-- End Item -->

                        <!--History Item -->
                        <li class="timeline-item">
                            <h4>Lorem ipsum dolor consectetur adipisicing.</h4>
                            <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
                            <span> 10 JUN 2021</span>
                        </li>
                        <!-- End Item -->

                        <!--History Item -->
                        <li class="timeline-item">
                            <h4>Lorem ipsum dolor consectetur adipisicing.</h4>
                            <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
                            <span> 21 JUL 2021</span>
                        </li>
                        <!-- End Item -->

                         <li class="clear"></li>

                        <li class="end-icon fa fa-bookmark"></li>
                    </ul>
                   <!-- End History Timeline -->

           </div> <!--/.container-->
	</section>
   <!--End History-->





  <!--Start Team-->
  <section id="team" class="section">
		<div class="container">
            <div class="row">

             <div class="title-box text-center">
                <h2 class="title">Team</h2>
             </div>

             </div>

                <!-- Team -->
				<div class="team-items team-carousel">
                      <!-- Team Member #1 -->
                      <div class="item">

                          <h4>Jonh Doe</h4>
                          <h5>Photogropher</h5>
                          <p>Lorem ipsum dolor consectetur dolor consectetur adipisicing incididunt eiusmod temporcd incididunt consectetur laboredolore dolor adipisicing. </p>

                          <div class="socials">
                              <ul>
                               <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                               <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                               <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <!-- End Member -->
				</div>
                <!-- End Team -->
			</div>
            <!-- End Content -->
	</section>
  <!--End Team-->






   <!-- Start blog-->
   <section id="blog" class="section">
       <div class="container">
           <div class="row">

                 <div class="title-box text-center">
                    <h2 class="title">Latest Blog</h2>
                 </div>
{#             <p>None</p>#}
               <!-- Start Blog item #1-->
               <div class="col-md-4">
                   <div class="blog-post">
                         <div class="post-media">
							 <img src="{% static 'images/嘉然.PNG' %}" alt="image1">
                         </div>
                       <div class="post-desc">
                           <h4>consectetur adipisicing Inventore</h4>
                           <h5>12 May, 2020/ 5 Comments</h5>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, dolorum, fugiat, eligendi magni quibusdam iure cupiditate ex voluptas unde</p>
                            <a href="blog.html" class="btn btn-gray-border">Read More</a>
                       </div>
                   </div>
               </div>


           </div> <!--/.row-->
       </div> <!--/.container-->
   </section>
   <!-- End blog-->





   <!--Start Contact-->
   <section id="contact" class="section parallax">
      <div class="overlay"></div>
       <div class="container">
           <div class="row">

                 <div class="title-box text-center white">
                    <h2 class="title">Contact</h2>
                 </div>
             </div>

               <!--Start contact form-->
               <div class="col-md-8 col-md-offset-2 contact-form">

                    <div class="contact-info text-center">
{#                       <p>123 4567 890</p>#}
{#                       <p>123 lorem ipsum, 4th floor, lorem, ipsum </p>#}
                       <p>daiweizh@umichi.com </p>
                    </div>


               </div>
              <!--End contact form-->

       </div> <!-- /.container-->
   </section>
   <!--End Contact-->


   <!--Start Footer-->
   <footer>
       <div class="container">
           <div class="row">
               <!--Start copyright-->
               <div class="col-md-6 col-sm-6 col-xs-6">
                   <div class="copyright"><p>Copyright © 2021 All Rights reserved
                 </p></div>
               </div>
           </div> <!-- /.row-->
       </div> <!-- /.container-->
   </footer>
   <!--End Footer-->

   <a href="#" class="scrollup"> <i class="fa fa-chevron-up"> </i> </a>



{% endblock %}

