{% extends "base_head.html" %}
{% load static %}
{% block head %}

<link href="{% static 'css/style2.css' %}" rel="stylesheet">
{% endblock %}
{% block nav %}
   <!--Start Navigation-->
		<header id="header">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
								<span class="sr-only">Toggle navigation</span>
								<span class="fa fa-bars"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
                            <!--Start Logo -->
							<div class="logo-nav">
								<a href="../">
									<img src="{% static 'images/嘉然.png' %}" alt="My logo" width="100" height="100" />
								</a>
							</div>
                            <!--End Logo -->
							<div class="clear-toggle"></div>
							<div id="main-menu" class="collapse scroll navbar-right">
								<ul class="nav">

									<li> <a href="../#home">Home</a> </li>

									<li> <a href="../#about">About</a> </li>

                                    <li> <a href="../#history">History</a> </li>

{#                                    <li> <a href="#works">Our Work</a> </li>#}
{##}
{#                                     <li> <a href="#team">Team</a> </li>#}

{##}
								    <li> <a href="../home/content">Contents</a> </li>
                                     <li> <a href="../home/upload">upload</a> </li>
                                     <li class="active"> <a href="../home/random">random&watch</a> </li>


									<li> <a href="../#blog">Blog</a></li>

{#                                    <li> <a href="#testimonials">Testimonials</a></li>#}

									<li> <a href="../#contact">Contact</a> </li>
                                     {% if user.is_authenticated %}

                                   <li class="dropdown">
                                        <a href="{% url 'logout' %}?next={% url 'home:content' %}">Logout</a>

                                    </li>
                                    {% else %}
                                    <li>
                                    <a href="{% url 'login' %}?next={% url 'home:content' %}">Login</a>
                                    </li>
                                    {% endif %}
								</ul>
							</div><!-- end main-menu -->
						</div>
					</div>
				</div>
			</header>
    <!--End Navigation-->
{% endblock %}


{% block content %}
<body>

<div id="ytplayer" class="container" style="margin: 10em; text-align: center;">
<iframe id="yt" width="960" height="600" src="https://www.youtube.com/embed?listType=playlist&list=PLqWr7dyJNgLLcg4CLu_gDuqjRy2VH0zIn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>
<button id='r_b' class="btn-default">random</button>

{#https://stackoverflow.com/questions/4550505/getting-a-random-value-from-a-javascript-array#}
<script language="javascript" type="text/javascript">
    const element = document.getElementById("ytplayer");
    var h = document.getElementById("r_b");

    h.addEventListener('click', function()
    { /* do stuff here*/
        my_data = {{ htmls|safe }};
        console.log(my_data);
        const randomElement = my_data[Math.floor(Math.random() * my_data.length)];
        console.log(randomElement);
        var ytplayer = document.getElementById('yt');
        ytplayer.remove();

        var iframe = document.createElement('iframe');


        iframe.src = randomElement;
        iframe.width = "960";
        iframe.height = '600';
        iframe.id = 'yt';

        element.appendChild(iframe);

        }, false);

</script>

</body>
{% endblock %}